/*---------ALGEMENE STYLES---------------------*/

/*---------ALGEMENE STYLES---------------------*/

/*---------ALGEMENE STYLES---------------------*/

* {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


body {
    background-color: ghostwhite;

}



h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
}

svg {
    margin: auto;
    display: flex;
    margin-top: 5%;
    width: 100%;


}

#mobiel {
    display: none;
}

#show_2 {
    height: 100%;
}

#buttonimg {
    height: 20px;
}

#rondje {
    height: 20px;
}

button {
    background-color: transparent;
    text-decoration: none;
    border: none;
    margin: 10px 5px 0px 10px;
    padding: 1rem;
    display: flex;

}

button :hover {
    transform: rotate(75deg);


}


#knoppen {
    margin-bottom: 0px;
    margin-top: -50vh;
}


#knoppen ul{
    text-decoration: none;
    list-style-type: none;
}




/*--------KLEUREN ONCLICK CIRCLE --------------*/

/*--------KLEUREN ONCLICK CIRCLE --------------*/

.bodyrood{
    background-color: red;
}
/*DRIE---------------------*/



.geelgroen {
    background-color: green;

}

.geelgroen circle {
    fill: yellow;
    /*animation: 3s kabem;*/
}


/*.geelgroen button{
    filter: invert(100%);
}*/

/*VIER------------------*/

.blauwrood {
    background-color: red;
}

.blauwrood circle {
    fill: blue;
}

/*VIJF------------------*/

.oranjeroze {
    background-color: deeppink;
}

.oranjeroze circle {
    fill: orange;
}

/*ZES------------------*/

.paarsgeel {
    background-color: rebeccapurple;
}

.paarsgeel circle {
    fill: yellow;
}

/*ZEVEN------------------*/

.groenblauw {
    background-color: green;
}

.groenblauw circle {
    fill: lightblue;
}

/*ACHT------------------*/

.zwartroze {
    background-color: black;
}

.zwartroze circle {
    fill: pink;
}

.zwartroze button {
    filter: invert(100%);
}

.zwartroze h1 {
    color: white;
}

/*NINE------------------*/

.oranjegeel {
    background-color: orange;
}

.oranjegeel circle {
    fill: yellow;
}

/*TEN------------------*/

.blauwgeel {
    background-color: yellow;
}

.blauwgeel circle {
    fill: blue;
}

/*ELEVEN------------------*/

.zwartblauw {
    background-color: black;
}

.zwartblauw circle {
    fill: skyblue;
}

.zwartblauw button {
    filter: invert(100%);
}

.zwartblauw h1 {
    color: white;
}

/*TWELVE------------------*/

.roodgroen {
    background-color: red;
}

.roodgroen circle {
    fill: green;
}

/*DERTIEN------------------*/

.oranjeblauw {
    background-color: orange;
}

.oranjeblauw circle {
    fill: skyblue;
}




/*--------SPECIALE CLASSES ONCLICK--------------*/

.invert {
    filter: invert(100%);
    background-color: black;
}

.turn {
    transform: rotate(180deg);
    margin-top: 20rem;
}

.rond {
    transform: translate(50px, 0px) rotate(0deg);
    position: fixed;
}


.links{
    transform: translate(-100px);
    transition: ease-in-out 2s;
}

.rechts{
    transform: translate(100px);
    transition: ease-in-out 2s;
}
.onder{
    transform: translate(0, 100px);
    transition: ease-in-out 2s;
}
.boven{
    transform: translate(0, -100px);
    transition: ease-in-out 2s;
}

.turn{
    transform: rotate(90deg) translate(-150px,0);
    transition: ease-in-out 2s;
}

.turnn{
    transform: rotate(-90deg) translate(-150px,0);
    transition: ease-in-out 2s;
}


/*--------CIRKELS HOVER KLEUR---------------------------*/

circle {
    fill: white;
}

circle:hover {
    cursor: pointer;
}

#circle01:hover {
    fill: #1F1F1F;

}

#circle02:hover {
    fill: #454545;
}

#circle03:hover {
    fill: #696969;
}

#circle04:hover {
    fill: #8A8A8A;
}

#circle05:hover {
    fill: #A1A1A1;
}

#circle06:hover {
    fill: #B8B8B8;
}

#circle07:hover {
    fill: #cfcfcf;
}

#circle08:hover {
    fill: #C7C7C7;
}

#circle09:hover {
    fill: #CDCDCD;
}

#circle10:hover {
    fill: #D3D3D3;
}

#circle11:hover {
    fill: #E5E5E5;
}

#circle12:hover {
    fill: #F0F0F0;
}

#circle13:hover {
    fill: #FAFAFA;
}

/*-------------HOBBEL DE BOBBEL-----------------------*/

circle {
    animation: kaboom 3s ease alternate infinite;

}

/*Rij één ---------------------*/

circle:first-of-type {
    animation-delay: 0s;
}

circle:nth-of-type(2) {
    animation-delay: 0.2s;
}

circle:nth-of-type(3) {
    animation-delay: 0.3s;
}

circle:nth-of-type(4) {
    animation-delay: 0.4s;
}

circle:nth-of-type(5) {
    animation-delay: 0.5s;
}

circle:nth-of-type(6) {
    animation-delay: 0.6s;
}

circle:nth-of-type(7) {
    animation-delay: 0.7s;
}

circle:nth-of-type(8) {
    animation-delay: 0.8s;
}

circle:nth-of-type(9) {
    animation-delay: 0.9s;
}

circle:nth-of-type(10) {
    animation-delay: 1s;
}

circle:nth-of-type(11) {
    animation-delay: 1.1s;
}

circle:nth-of-type(12) {
    animation-delay: 1.2s;
}

circle:nth-of-type(13) {
    animation-delay: 1.3s;
}

/*Rij twee ---------------------*/

circle:nth-of-type(14) {
    animation-delay: 0;

}

circle:nth-of-type(15) {
    animation-delay: 0.2s;

}

circle:nth-of-type(16) {
    animation-delay: 0.3s;

}

circle:nth-of-type(17) {
    animation-delay: 0.4s;

}

circle:nth-of-type(18) {
    animation-delay: 0.5s;

}

circle:nth-of-type(19) {
    animation-delay: 0.6s;

}

circle:nth-of-type(20) {
    animation-delay: 0.7s;

}

circle:nth-of-type(21) {
    animation-delay: 0.8s;

}

circle:nth-of-type(22) {
    animation-delay: 0.9s;

}

circle:nth-of-type(23) {
    animation-delay: 1s;

}

circle:nth-of-type(24) {
    animation-delay: 1.1s;

}

/*-----Rij 3---------------------*/

circle:nth-of-type(25) {
    animation-delay: 0s;


}

circle:nth-of-type(26) {
    animation-delay: 0.2s;


}

circle:nth-of-type(27) {
    animation-delay: 0.3s;


}

circle:nth-of-type(28) {
    animation-delay: 0.4s;


}

circle:nth-of-type(29) {
    animation-delay: 0.5s;

}

circle:nth-of-type(30) {
    animation-delay: 0.6s;

}

circle:nth-of-type(31) {
    animation-delay: 0.7s;

}

circle:nth-of-type(32) {
    animation-delay: 0.8s;

}

circle:nth-of-type(33) {
    animation-delay: 0.9s;

}

/*-----Rij 4---------------------*/

circle:nth-of-type(34) {
    animation-delay: 0s;


}

circle:nth-of-type(35) {
    animation-delay: 0.2s;


}

circle:nth-of-type(36) {
    animation-delay: 0.3s;


}

circle:nth-of-type(37) {
    animation-delay: 0.4s;


}

circle:nth-of-type(38) {
    animation-delay: 0.5s;

}

circle:nth-of-type(39) {
    animation-delay: 0.6s;

}

circle:nth-of-type(40) {
    animation-delay: 0.7s;

}

/*-----Rij 5---------------------*/

circle:nth-of-type(41) {
    animation-delay: 0s;


}

circle:nth-of-type(42) {
    animation-delay: 0.2s;


}

circle:nth-of-type(43) {
    animation-delay: 0.3s;


}

circle:nth-of-type(44) {
    animation-delay: 0.4s;


}

circle:nth-of-type(45) {
    animation-delay: 0.5s;

}

/*-----Rij 7---------------------*/

circle:nth-of-type(46) {
    animation-delay: 0s;


}

/*-----Rij 6---------------------*/

circle:nth-of-type(46) {
    animation-delay: 0s;


}

circle:nth-of-type(47) {
    animation-delay: 0.2s;


}

circle:nth-of-type(48) {
    animation-delay: 0.3s;


}

/*------------------ANIMATIE VIERKANT NAAR DRIEHOEK-------------------*/

.hidden {
    display: none;
}



.visible {
    display: block;
}

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

/*------------------ANIMATIE VIERKANT FLOW-------------------*/

#show_2 circle:first-of-type {
    animation-delay: 0s;
}

#show_2 circle:nth-of-type(2) {
    animation-delay: 0.2s;
}

#show_2 circle:nth-of-type(3) {
    animation-delay: 0.3s;
}

#show_2 circle:nth-of-type(4) {
    animation-delay: 0.4s;
}

#show_2 circle:nth-of-type(5) {
    animation-delay: 0.5s;
}

#show_2 circle:nth-of-type(6) {
    animation-delay: 0.6s;
}

#show_2 circle:nth-of-type(7) {
    animation-delay: 0.7s;
}

#show_2 circle:nth-of-type(8) {
    animation-delay: 0.8s;
}

#show_2 circle:nth-of-type(9) {
    animation-delay: 0.9s;
}

#show_2 circle:nth-of-type(10) {
    animation-delay: 1s;
}

#show_2 circle:nth-of-type(11) {
    animation-delay: 1.1s;
}

#show_2 circle:nth-of-type(12) {
    animation-delay: 1.2s;
}

#show_2 circle:nth-of-type(13) {
    animation-delay: 1.3s;
}


/*-----RIJ TWEE------------------------*/

#show_2 circle:nth-of-type(14) {
    animation-delay: 0s;
}

#show_2 circle:nth-of-type(15) {
    animation-delay: 0.2s;
}

#show_2 circle:nth-of-type(16) {
    animation-delay: 0.3s;
}

#show_2 circle:nth-of-type(17) {
    animation-delay: 0.4s;
}

#show_2 circle:nth-of-type(18) {
    animation-delay: 0.5s;
}

#show_2 circle:nth-of-type(19) {
    animation-delay: 0.6s;
}

#show_2 circle:nth-of-type(20) {
    animation-delay: 0.7s;
}

#show_2 circle:nth-of-type(21) {
    animation-delay: 0.8s;
}

#show_2 circle:nth-of-type(22) {
    animation-delay: 0.9s;
}

#show_2 circle:nth-of-type(23) {
    animation-delay: 1s;
}

#show_2 circle:nth-of-type(24) {
    animation-delay: 1.1s;
}

#show_2 circle:nth-of-type(25) {
    animation-delay: 1.2s;
}

#show_2 circle:nth-of-type(26) {
    animation-delay: 1.3s;
}

/*--------------RIJ DRIE------------*/

#show_2 circle:nth-of-type(27) {
    animation-delay: 0s;
}

#show_2 circle:nth-of-type(28) {
    animation-delay: 0.2s;
}

#show_2 circle:nth-of-type(29) {
    animation-delay: 0.3s;
}

#show_2 circle:nth-of-type(30) {
    animation-delay: 0.4s;
}

#show_2 circle:nth-of-type(31) {
    animation-delay: 0.5s;
}

#show_2 circle:nth-of-type(32) {
    animation-delay: 0.6s;
}

#show_2 circle:nth-of-type(33) {
    animation-delay: 0.7s;
}

#show_2 circle:nth-of-type(34) {
    animation-delay: 0.8s;
}

#show_2 circle:nth-of-type(35) {
    animation-delay: 0.9s;
}

#show_2 circle:nth-of-type(36) {
    animation-delay: 1s;
}

#show_2 circle:nth-of-type(37) {
    animation-delay: 1.1s;
}

#show_2 circle:nth-of-type(38) {
    animation-delay: 1.2s;
}

#show_2 circle:nth-of-type(39) {
    animation-delay: 1.3s;
}

/*------------- RIJ VIER ------------*/

#show_2 circle:nth-of-type(40) {
    animation-delay: 0s;
}

#show_2 circle:nth-of-type(41) {
    animation-delay: 0.2s;
}

#show_2 circle:nth-of-type(42) {
    animation-delay: 0.3s;
}

#show_2 circle:nth-of-type(43) {
    animation-delay: 0.4s;
}

#show_2 circle:nth-of-type(44) {
    animation-delay: 0.5s;
}

#show_2 circle:nth-of-type(45) {
    animation-delay: 0.6s;
}

#show_2 circle:nth-of-type(46) {
    animation-delay: 0.7s;
}

#show_2 circle:nth-of-type(47) {
    animation-delay: 0.8s;
}

#show_2 circle:nth-of-type(48) {
    animation-delay: 0.9s;
}

#show_2 circle:nth-of-type(49) {
    animation-delay: 1s;
}

#show_2 circle:nth-of-type(50) {
    animation-delay: 1.1s;
}

#show_2 circle:nth-of-type(51) {
    animation-delay: 1.2s;
}

#show_2 circle:nth-of-type(52) {
    animation-delay: 1.3s;
}

/*----------- Rij vijf-------------*/

#show_2 circle:nth-of-type(53) {
    animation-delay: 0s;
}

#show_2 circle:nth-of-type(54) {
    animation-delay: 0.2s;
}

#show_2 circle:nth-of-type(55) {
    animation-delay: 0.3s;
}

#show_2 circle:nth-of-type(56) {
    animation-delay: 0.4s;
}

#show_2 circle:nth-of-type(57) {
    animation-delay: 0.5s;
}

#show_2 circle:nth-of-type(58) {
    animation-delay: 0.6s;
}

#show_2 circle:nth-of-type(59) {
    animation-delay: 0.7s;
}

#show_2 circle:nth-of-type(60) {
    animation-delay: 0.8s;
}

#show_2 circle:nth-of-type(61) {
    animation-delay: 0.9s;
}

#show_2 circle:nth-of-type(62) {
    animation-delay: 1s;
}

#show_2 circle:nth-of-type(63) {
    animation-delay: 1.1s;
}

#show_2 circle:nth-of-type(64) {
    animation-delay: 1.2s;
}

#show_2 circle:nth-of-type(65) {
    animation-delay: 1.3s;
}

/*-------------- Rij zes-----------*/

#show_2 circle:nth-of-type(66) {
    animation-delay: 0s;
}

#show_2 circle:nth-of-type(67) {
    animation-delay: 0.2s;
}

#show_2 circle:nth-of-type(68) {
    animation-delay: 0.3s;
}

#show_2 circle:nth-of-type(69) {
    animation-delay: 0.4s;
}

#show_2 circle:nth-of-type(70) {
    animation-delay: 0.5s;
}

#show_2 circle:nth-of-type(71) {
    animation-delay: 0.6s;
}

#show_2 circle:nth-of-type(72) {
    animation-delay: 0.7s;
}

#show_2 circle:nth-of-type(73) {
    animation-delay: 0.8s;
}

#show_2 circle:nth-of-type(74) {
    animation-delay: 0.9s;
}

#show_2 circle:nth-of-type(75) {
    animation-delay: 1s;
}

#show_2 circle:nth-of-type(76) {
    animation-delay: 1.1s;
}

#show_2 circle:nth-of-type(77) {
    animation-delay: 1.2s;
}

#show_2 circle:nth-of-type(78) {
    animation-delay: 1.3s;
}

/*------KEYFRAMES---------------------------------------------*/

/*------KEYFRAMES---------------------------------------------*/

/*------KEYFRAMES---------------------------------------------*/

/*------KEYFRAMES---------------------------------------------*/

@keyframes kaboom {
    90% {
        transform: scale(1.0);
        fill: black;

    }
    100% {
        transform: scale(1.1);
        fill: grey;
    }
}


@keyframes klein {
    90% {
        transform: scale(1.0);
        fill: white;
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        fill: black;
        opacity: 1;
    }
}


/*-----------MEDIA QUERIES--------------MOBIEL FORMAAT----------------*/

/*-----------MEDIA QUERIES--------------MOBIEL FORMAAT----------------*/

/*-----------MEDIA QUERIES--------------MOBIEL FORMAAT----------------*/

/*-----------MEDIA QUERIES--------------MOBIEL FORMAAT----------------*/

/*-----------MEDIA QUERIES--------------MOBIEL FORMAAT----------------*/

/*-----------MEDIA QUERIES--------------MOBIEL FORMAAT----------------*/

@media(max-width: 35rem) {


    h1 {
        color: white;
        margin-top: 2rem;
    }

    #show_1 {
        margin: auto;
        display: flex;
        margin-top: 5%;
        width: 90%;
        z-index: 1;

    }

    #mobiel circle:hover {
        transform: translate(0px, 50px);
    }
    #mobiel circle {
        fill: black;
    }


    #mobiel {
        display: inline-block;
        position: fixed;
        margin-top: -120%;
        z-index: -2;
    }

    #mobiel svg:nth-of-type(2) {
        margin-top: -100px;
    }


    circle {
        fill: white;
    }

    Body {
        background-color: black;
    }


    button {
        background-color: transparent;
        text-decoration: none;
        border: none;
        margin: 0;
        padding: 1rem;
        display: flex;

    }

    button :hover {
        transform: rotate(75deg);


    }


    #knoppen {
        margin-bottom: 0px;
        margin-top: -7vh;
    }


    #buttonimg {
        height: 20px;
        filter: invert(100%);
    }

    #rondje {
        height: 20px;
        filter: invert(100%);
    }


    /*VIERKANT VERKLEINEN--------------------*/
    /*VIERKANT VERKLEINEN--------------------*/
    /*VIERKANT VERKLEINEN--------------------*/
    /*VIERKANT VERKLEINEN--------------------*/
    
    
    #show_2 circle:first-of-type {
        display: none;
    }

    #show_2 circle:nth-of-type(2) {
        display: none;
    }

    #show_2 circle:nth-of-type(3) {
        display: none;
    }

    #show_2 circle:nth-of-type(4) {
        display: none;
    }

    #show_2 circle:nth-of-type(5) {
        display: none;
    }

    #show_2 circle:nth-of-type(6) {
        display: none;
    }

    #show_2 circle:nth-of-type(7) {
        display: none;
    }

    #show_2 circle:nth-of-type(8) {
        display: none;
    }

    #show_2 circle:nth-of-type(9) {
        display: none;
    }

    #show_2 circle:nth-of-type(10) {
        display: none;
    }

    #show_2 circle:nth-of-type(11) {
        display: none;
    }

    #show_2 circle:nth-of-type(12) {
        display: none;
    }

    #show_2 circle:nth-of-type(13) {
        display: none;
    }

    #show_2 circle:nth-of-type(26) {
        display: none;
    }
    #show_2 circle:nth-of-type(39) {
        display: none;
    }
    #show_2 circle:nth-of-type(52) {
        display: none;
    }
    #show_2 circle:nth-of-type(65) {
        display: none;
    }

    #show_2 circle:nth-of-type(14) {
        display: none;
    }
    #show_2 circle:nth-of-type(27) {
        display: none;
    }
    #show_2 circle:nth-of-type(40) {
        display: none;
    }
    #show_2 circle:nth-of-type(53) {
        display: none;
    }

    #show_2 circle:nth-of-type(66) {
        display: none;
    }

    #show_2 circle:nth-of-type(78) {
        display: none;
    }


}


/*------------------MOBIELE ACHTERGROND BOLLETJES ------------------*/

/*------------------MOBIELE ACHTERGROND BOLLETJES ------------------*/

/*------------------MOBIELE ACHTERGROND BOLLETJES ------------------*/

/*------------------MOBIELE ACHTERGROND BOLLETJES ------------------*/

/*------------------MOBIELE ACHTERGROND BOLLETJES ------------------*/

#mobiel {
    background-size: cover;
    
}

#mobiel circle {
    animation: klein 6s ease alternate infinite;
}

#mobiel circle:first-of-type {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(2) {
    animation-delay: 0.2s;
}

#mobiel circle:nth-of-type(3) {
    animation-delay: 0.3s;
}

#mobiel circle:nth-of-type(4) {
    animation-delay: 0.4s;
}

#mobiel circle:nth-of-type(5) {
    animation-delay: 0.5s;
}

#mobiel circle:nth-of-type(6) {
    animation-delay: 0.6s;
}

#mobiel circle:nth-of-type(7) {
    animation-delay: 0.7s;
}

#mobiel circle:nth-of-type(8) {
    animation-delay: 0.8s;
}

#mobiel circle:nth-of-type(9) {
    animation-delay: 0.9s;
}

#mobiel circle:nth-of-type(10) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(11) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(12) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(13) {
    animation-delay: 1.3s;
}


/*-----RIJ TWEE------------------------*/

#mobiel circle:nth-of-type(14) {
    animation-delay: 1.4s;
}

#mobiel circle:nth-of-type(15) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(16) {
    animation-delay: 1.6s;
}

#mobiel circle:nth-of-type(17) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(18) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(19) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(20) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(21) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(22) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(23) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(24) {
    animation-delay: 2.4s;
}

#mobiel circle:nth-of-type(25) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(26) {
    animation-delay: .1s;
}

/*--------------RIJ DRIE------------*/

#mobiel circle:nth-of-type(27) {
    animation-delay: .2s;
}

#mobiel circle:nth-of-type(28) {
    animation-delay: .3s;
}

#mobiel circle:nth-of-type(29) {
    animation-delay: .4s;
}

#mobiel circle:nth-of-type(30) {
    animation-delay: .5s;
}

#mobiel circle:nth-of-type(31) {
    animation-delay: 0.6s;
}

#mobiel circle:nth-of-type(32) {
    animation-delay: 0.7s;
}

#mobiel circle:nth-of-type(33) {
    animation-delay: 0.8s;
}

#mobiel circle:nth-of-type(34) {
    animation-delay: 0.9s;
}

#mobiel circle:nth-of-type(35) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(36) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(37) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(38) {
    animation-delay: 1.3s;
}

#mobiel circle:nth-of-type(39) {
    animation-delay: 1.4s;
}

/*------------- RIJ VIER ------------*/

#mobiel circle:nth-of-type(40) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(41) {
    animation-delay: 1.6s;
}

#mobiel circle:nth-of-type(42) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(43) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(44) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(45) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(46) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(47) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(48) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(49) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(50) {
    animation-delay: .1s;
}

#mobiel circle:nth-of-type(51) {
    animation-delay: .2s;
}

#mobiel circle:nth-of-type(52) {
    animation-delay: .3s;
}

/*----------- Rij vijf-------------*/

#mobiel circle:nth-of-type(53) {
    animation-delay: .4s;
}

#mobiel circle:nth-of-type(54) {
    animation-delay: 0.5s;
}

#mobiel circle:nth-of-type(55) {
    animation-delay: 0.6s;
}

#mobiel circle:nth-of-type(56) {
    animation-delay: 0.7s;
}

#mobiel circle:nth-of-type(57) {
    animation-delay: 0.8s;
}

#mobiel circle:nth-of-type(58) {
    animation-delay: 0.9s;
}

#mobiel circle:nth-of-type(59) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(60) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(61) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(62) {
    animation-delay: 1.3s;
}

#mobiel circle:nth-of-type(63) {
    animation-delay: 1.4s;
}

#mobiel circle:nth-of-type(64) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(65) {
    animation-delay: 1.6s;
}

/*-------------- Rij zes-----------*/

#mobiel circle:nth-of-type(66) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(67) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(68) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(69) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(70) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(71) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(72) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(73) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(74) {
    animation-delay: 0.1s;
}

#mobiel circle:nth-of-type(75) {
    animation-delay: .2s;
}

#mobiel circle:nth-of-type(76) {
    animation-delay: .3s;
}

#mobiel circle:nth-of-type(77) {
    animation-delay: .4s;
}

#mobiel circle:nth-of-type(78) {
    animation-delay: .5s;
}

#mobiel circle:nth-of-type(79) {
    animation-delay: 0.6s;
}

#mobiel circle:nth-of-type(80) {
    animation-delay: 0.7s;
}

#mobiel circle:nth-of-type(81) {
    animation-delay: 0.8s;
}

#mobiel circle:nth-of-type(82) {
    animation-delay: .9s;
}

#mobiel circle:nth-of-type(83) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(84) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(85) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(86) {
    animation-delay: 1.3s;
}

#mobiel circle:nth-of-type(87) {
    animation-delay: 1.4s;
}

#mobiel circle:nth-of-type(88) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(89) {
    animation-delay: 1.6s;
}

#mobiel circle:nth-of-type(90) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(91) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(92) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(93) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(94) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(95) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(96) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(97) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(98) {
    animation-delay: .1s;
}

#mobiel circle:nth-of-type(99) {
    animation-delay: .2s;
}

#mobiel circle:nth-of-type(100) {
    animation-delay: 0.3s;
}

#mobiel circle:nth-of-type(101) {
    animation-delay: 0.4s;
}

#mobiel circle:nth-of-type(102) {
    animation-delay: 0.5s;
}

#mobiel circle:nth-of-type(103) {
    animation-delay: .6s;
}

#mobiel circle:nth-of-type(104) {
    animation-delay: .7s;
}

#mobiel circle:nth-of-type(105) {
    animation-delay: .8s;
}

#mobiel circle:nth-of-type(106) {
    animation-delay: .9s;
}

#mobiel circle:nth-of-type(107) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(108) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(109) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(110) {
    animation-delay: 1.3s;
}

#mobiel circle:nth-of-type(111) {
    animation-delay: 1.4s;
}

#mobiel circle:nth-of-type(112) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(113) {
    animation-delay: 1.6s;
}

#mobiel circle:nth-of-type(114) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(115) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(116) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(117) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(118) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(119) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(120) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(121) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(122) {
    animation-delay: 0.1s;
}

#mobiel circle:nth-of-type(123) {
    animation-delay: 0.2s;
}

#mobiel circle:nth-of-type(124) {
    animation-delay: 0.3s;
}

#mobiel circle:nth-of-type(125) {
    animation-delay: .4s;
}

#mobiel circle:nth-of-type(126) {
    animation-delay: .5s;
}

#mobiel circle:nth-of-type(127) {
    animation-delay: .6s;
}

#mobiel circle:nth-of-type(128) {
    animation-delay: .7s;
}

#mobiel circle:nth-of-type(129) {
    animation-delay: .8s;
}

#mobiel circle:nth-of-type(130) {
    animation-delay: .9s;
}

#mobiel circle:nth-of-type(131) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(132) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(133) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(134) {
    animation-delay: 1.3s;
}

#mobiel circle:nth-of-type(135) {
    animation-delay: 1.4s;
}

#mobiel circle:nth-of-type(136) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(137) {
    animation-delay: 1.6s;
}

#mobiel circle:nth-of-type(138) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(139) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(140) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(141) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(142) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(143) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(144) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(145) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(146) {
    animation-delay: .1s;
}

#mobiel circle:nth-of-type(147) {
    animation-delay: .2s;
}

#mobiel circle:nth-of-type(148) {
    animation-delay: .3s;
}

#mobiel circle:nth-of-type(149) {
    animation-delay: 0.4s;
}

#mobiel circle:nth-of-type(150) {
    animation-delay: 0.5s;
}

#mobiel circle:nth-of-type(151) {
    animation-delay: .6s;
}

#mobiel circle:nth-of-type(152) {
    animation-delay: .7s;
}

#mobiel circle:nth-of-type(153) {
    animation-delay: .8s;
}

#mobiel circle:nth-of-type(154) {
    animation-delay: 0.9s;
}

#mobiel circle:nth-of-type(155) {
    animation-delay: 1s;
}

#mobiel circle:nth-of-type(156) {
    animation-delay: 1.1s;
}

#mobiel circle:nth-of-type(157) {
    animation-delay: 1.2s;
}

#mobiel circle:nth-of-type(158) {
    animation-delay: 1.3s;
}

#mobiel circle:nth-of-type(159) {
    animation-delay: 1.4s;
}

#mobiel circle:nth-of-type(160) {
    animation-delay: 1.5s;
}

#mobiel circle:nth-of-type(161) {
    animation-delay: 1.6s;
}

#mobiel circle:nth-of-type(162) {
    animation-delay: 1.7s;
}

#mobiel circle:nth-of-type(163) {
    animation-delay: 1.8s;
}

#mobiel circle:nth-of-type(164) {
    animation-delay: 1.9s;
}

#mobiel circle:nth-of-type(165) {
    animation-delay: 2s;
}

#mobiel circle:nth-of-type(166) {
    animation-delay: 2.1s;
}

#mobiel circle:nth-of-type(167) {
    animation-delay: 2.2s;
}

#mobiel circle:nth-of-type(168) {
    animation-delay: 2.3s;
}

#mobiel circle:nth-of-type(169) {
    animation-delay: 0s;
}

#mobiel circle:nth-of-type(170) {
    animation-delay: .1s;
}

#mobiel circle:nth-of-type(171) {
    animation-delay: .2s;
}

#mobiel circle:nth-of-type(172) {
    animation-delay: .3s;
}

#mobiel circle:nth-of-type(149) {
    animation-delay: 0.4s;
}

#mobiel circle:nth-of-type(150) {
    animation-delay: 0.5s;
}

#mobiel circle:nth-of-type(151) {
    animation-delay: .6s;
}

#mobiel circle:nth-of-type(152) {
    animation-delay: .7s;
}

#mobiel circle:nth-of-type(153) {
    animation-delay: .8s;
}
